@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: black;
  background-color: #FFFFFF;
}

.header {
  color: black;
  background-color:#FFFFFF;
}


ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: black;
}

.navigation-list li {
  display: inline;
}

.navigation-link {
  font-weight: 700;
  text-align: center;
  color:black;
  background-color:#FFFFFF;
  text-decoration: none;
}

.navigation-button {
  font-weight: 700;
  text-align: center;
  color:black;
  text-transform: uppercase;
  text-decoration: none;
}

.greeting-img {
  text-align: center;
  background-image: url(/images/mount-sedona.jpg);
  background-size: 100% auto;

}

.greeting-title {
  font-weight: 700;
  text-align: center;
  color:black;
  text-transform: uppercase;
}

.greeting-text{
  font-weight: 400;
  text-align: center;
  color:black;
}

.advantages-title {
  font-weight: 700;
  color:black;
  text-transform: uppercase;
}

.advantages {
  background-color: #81B3D3;
}

.sorting-title {
  font-weight: 700;
  color:black;
  text-transform: uppercase;
}


.search-title {
  font-weight: 700;
  text-align: center;
  color:black;
  text-transform: uppercase;
}

.search {
  font-weight: 400;
  text-align: center;
  color:black;
}

.search-button {
  font-weight: 700;
  text-align: center;
  color:black;
  text-transform: uppercase;
}

.subscribe-home {
  font-weight: 400;
  text-align: center;
  color:white;
}

.subscribe-title {
  font-weight: 700;
  text-align: center;
  color:white;
  text-transform: uppercase;
}

.subscribe {
 background-color: #81B3D3;
 background-image: url(/images/subscribe-image.jpg);
 font-weight: 400;
 text-align: center;
 color:white;
 background-size: 100% auto;
}

.subscribe-catalog {
  background-color: #81B3D3;
  font-weight: 400;
  text-align: center;
  color:white;
  background-size: 100% auto;
 }

.footer {
  background-color: white;
}

.footer-phone {
  font-weight: 400;
  text-align: center;
  color: black
}

.footer-logo {
  font-weight: 400;
  text-align: right;
  color: black
}

.subscribe-button, .navigation-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

 .button-blue, .subscribe-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #81B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

 .hotels-favorites-active {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #7DB54F;
  text-decoration: none;
  text-transform: uppercase;
}

.button-transparent, .filter-reset{
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #81B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.filter-container {
  background-image: url(/images/filter-background.png);
  background-color: #81B3D3;
  background-size: 100% auto;
}

.hotels-button-more {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.sorting-container {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #81B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.hotels-rating-text {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color:black;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #E6E6E6;
}
