@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  font-size: 16px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

.container {
  padding: 0 70px;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  color: #000000;
  text-decoration: none;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756257;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button + .button {
  margin-left: 16px;
}

.button:hover {
  background-color: #615048;
}

.button:focus {
  background-color: #615048;
}

.button:active {
  background-color: #756157;
  color: #FFFFFF;
  opacity: 30%; /* почему-то не работает opacity, видимо не там написала его*/
}

.button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.button-blue {
  background-color: #81b3d3;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus {
  background-color: #68a2ca;
}

.button-blue:active {
  background-color: #81b3d3;
  color: #FFFFFF;
  opacity: 30%;
}

.button-blue:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.button-transparent {
  background-color: transparent;
  color: #FFFFFF;
}

.button-transparent:hover {
  background-color: transparent;

}

.button-transparent:focus {
  background-color: transparent;
  color: #FFFFFF;
  outline: 2px solid #82b3d3; /*не работает обводка*/
}

.button-transparent:active {
  background-color: transparent;
  color: #FFFFFF;
  opacity: 30%;
}

.button-transparent:disabled {
  background-color: transparent;
  color: #FFFFFF;
  opacity: 20%;
}




.navigation {
  display: grid;
  align-items: center;
  gap: 24px;
  grid-template-columns: auto 1fr auto 160px;
  padding: 0 70px 0 70px;
}


.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 470px;
}

.navigation-logo {
  position: relative;
  display: block;
  width: 138px;
  height: 70px;

}

.navigation-logo img {
  display: block;
  width: 100%;
  height: 100%;
}



.navigation-item {
  margin: 0 10px;
  padding: 13px 0;
}

/* как сделать с помощью  before?*/
.navigation-link-current{
  border-bottom:2px solid #000000;
}



.navigation-link {
  display: inline-block;
  padding: 6px;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  vertical-align: middle;
}

.navigation-user-list {
  margin-left: auto;
  position: relative;
}


.navigation-user-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}



.navigation-user-link img {
  display: block;
  width: 20px;
  height: 20px;

}
.navigation-user-link-search {
  height: 64px;
  width: 44px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
  padding: 22px 12px 22px 12px;

}

.navigation-user-link-favorites {
  height: 64px;
  width: 44px;
  left: 44px;
  top: 0px;
  border-radius: 0px;
  padding: 22px 12px 22px 12px;

}

.navigation-user-link-favorites-num {
  position: absolute;
  font-size: 70%;
  padding: 2px 8px 2px 8px;
  border-radius: 50%;
  transform: translate(15px, -10px);
  background-color: #68B738;
  z-index: 1;
}

.navigation-button {
  width: 160px;
}

.greeting-img {
  padding-top: 51px;
  padding-bottom: 82px;

  background-color: #004c7f;
  background-image: url("../images/mount-sedona.jpg");
  background-size: cover;
}

.greeting-img img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.greeting-descript {
  padding-top: 44px;
  padding-bottom: 68px;

  text-align: center;
}

.greeting-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.greeting-text {
  font-size: 22px;
  line-height: 26px;
}


.advantages-list {
  display: flex;
  flex-wrap: wrap;
}



.advantages-item-full {
  width: 100%;
}

.advantages-item-container {
  display: flex;
}


.advantages-content {
  width: 400px;
  min-height: 384px;
  padding: 103px 85px 30px;
  background-color: #81b3d3;
}


.advantages-content:nth-child(2n) {
  background-color: #7db54f;  /*не поняла, как присвоить каждому второму блоку цвет*/
}


.advantages-content-blue {
  background-color: #81b3d3;
  color: #FFFFFF;
}

.advantages-title .advantages-content-blue {
  color: #FFFFFF;
}

.advantages-content-blue .advantages-title {
  color: #FFFFFF;
}

/*что здесь надо прописать?
.advantages-list-recommendations .advantages-content {
  padding: ;
  background-repeat: ;
  background-position: ;
}
*/

.advantages-content-home {
  background-color: #F0F6FA;
  background-image: url("../images/svg/home.svg");
  background-repeat: no-repeat;
  background-position: center 80px;

}

.advantages-content-food {
  background-color: #FFFFFF;
  background-image: url("../images/svg/food.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}

.advantages-content-plus {
  background-color: #F0F6FA;
  background-image: url("../images/svg/gift.svg");
  background-repeat: no-repeat;
  background-position: center 80px;
}



.advantages-title {
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 31px;
  padding-bottom: 31px;
}

.advantages-title::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #000000;
  opacity: 30%;
  padding: 30px;
  /*как выровнять линию по центру?*/
}


.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-title-recommendation {
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  padding-top: 55px;
}

.advantages-description-recommendation {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}


.advantages-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages-item-full:last-child .advantages-content {
  order: 2;
}


.search {
  padding-top: 71px;
  padding-bottom: 96px;

  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-button {
  width: 375px;

  font-size: 20px;
  line-height: 36px;
}


.subscribe {  /*как склеить кнопку и инпут вместе без скругления border?*/
  padding-top: 68px;
  padding-bottom: 104px;
  text-align: center;
}

.subscribe-form {
  display: flex;
  justify-content: center;
  row-gap: 0;
}

.subscribe-input {
 font-family: PT Sans;
 font-size: 18px;
 line-height: 24px;
 font-weight: 400;
 letter-spacing: 0em;
 text-align: left;

 width: 452px;
 height: 52px;
 border-radius: 6px;
}

.subscribe-button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;

  height: 52px;
  width: 232px;
  left: 452px;
  top: 0px;
}

.subscribe-home {
  background-color: #81b3d3;
  background-image: url("../images/subscribe-image.jpg");
  background-size: cover;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe-home .subscribe-text {
  color: #ffffff;
}



.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  margin-bottom: 40px;
}

/*как выровнять иконки у крошек (они прямо подл надписью*/
img + img {
  margin: 10px 3px;
}

.filter {
  padding-top: 44px;
  padding-bottom: 70px;

  color: #ffffff;

  background-color: #81b3d3;
  background-image: url("../images/filter-background.png");
  background-size: cover;
}

.filter-top {
  margin: 0 0 10px;

  font-size: 60px;
  line-height: 78px;
}

.filter-form {
  display: grid;
  align-items: start;
  gap: 20px;
  grid-template-columns: repeat(4, auto);
}

.filter-list {
  display: grid;
  gap: 17px 16px;
  grid-template-columns: 20px auto;
}


.sorting.container {
  padding-top: 32px;
  padding-bottom: 20px;
  display: grid;
  align-items: center;
  gap: 20px 68px;
  grid-template-columns: 1fr auto auto;
}


.sorting-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-select {  /*как изменить стиль кнопки, чтобы заливка была просто белой?*/
 font-family: PT Sans;
 font-size: 18px;
 font-weight: 400;
 line-height: 21px;
 letter-spacing: 0em;
 text-align: left;

 height: 49px;
 width: 292px;
 left: 0px;
 top: 0px;
 border-radius: 4px;
 padding: 14px 20px 14px 20px;
 justify: space-between;


}

.sorting-view {
  display: flex;
  flex-wrap: wrap;
}


.sorting-item {
  display: block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

}

.sorting-item img {
  padding: 14px 12px 14px 12px;
}

.hotels-list {
  display: grid;
  padding-bottom: 40px;
  border-bottom: 1px solid #e6e6e6;
  grid-template-columns: repeat(3, 1fr);
  gap: 19px 18px;
}

.hotels-item {
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}


.hotels-descript {
  display: grid;
  padding-top: 17px;

  gap: 15px 20px;
  grid-template-columns: repeat(2, 1fr);
}

.hotels-title {
  font-size: 24px;
  line-height: 28px;

  grid-column: 1/-1;
}

.hotels-type,
.hotels-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

/* как сделать звёзды голубыми?
.star img {
  color: #68a2ca;
}
*/


.hotels-rating-text {
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotels-favorites-active {
  background-color: #7db54f;
}

.hotels-favorites-active:hover {
  background-color: #6c9e42;
}

.hotels-favorites-active:focus {
  background-color: #6c9e42;
}

.hotels-favorites-active:active  {
  background-color: #7db54f;
  color: #FFFFFF;
  opacity: 30%;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 70px;
}


.pagination-item {
  margin-right: 8px;
}


.pagination-link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 5px 10px 5px 10px; /*как сделать квадраты для страничек такими же, как на образце, я запуталась*/
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: #82b3d3;
  border: 8px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: #FFFFFF;
  opacity: 30%;
}


.pagination-link-current {
  color: #000;
  background-color: #f2f2f2;
  border-color: transparent;
}

.pagination-link-current:hover {
  background-color: #F2F2F2;
}

.pagination-link-current:focus {
  background-color: #F2F2F2;
}

.pagination-link-current:active {
  background-color: #F2F2F2;
}

.pagination-link-more {
  color: #000;
  background-color: transparent;
  border-color: transparent;
}

.pagination-link-more:hover {
  color: #000;
  background-color: transparent;
  border-color: transparent;
}

.pagination-link-more:focus {
  color: #000;
  background-color: transparent;
  border-color: transparent;
}

.pagination-link-more:active {
  color: #000;
  background-color: transparent;
  border-color: transparent;
}


.footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  padding: 40px 70px 30px 70px;
 }

.footer-social {
  display: flex;
  flex-wrap: wrap;
}

.social-link {  /*как сделать так, чтобы цвет свг менялся при разных состояниях?*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px
  color: #82B3D3;
}

/*состояния социальных кнопок*/
.social-link:hover {
  color: #68A2CA;
}

.social-link:focus {
  color: #68A2CA;
}
.social-link:active {
  color: #68A2CA;
  opacity: 30%;
}


.footer-phone {
  display: inline-block;
  margin: 0 auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-phone:hover{
  color: #756157;
}

.footer-phone:focus{
  color: #756157;
}

.footer-phone:active{
  color: #756157;
  opacity: 30%;
}

.footer-logo { /*как сделать так, чтобы цвет свг менялся при разных состояниях?*/
  display: block;
  width: 115px;
  height: 33px;
  color: #000000;
}

.footer-logo:hover {
  color: #756157;
}

.footer-logo:focus {
  color: #756157;
}

.footer-logo:active {
  color: #756157;
  opacity: 30%;
}
