@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "PT Sans";

  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
}

body {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  margin: 0 auto;

  font-size: 16px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

img {
  max-width: 100%;

  object-fit: cover;
  object-position: center;
}

.container {
  padding: 0 70px;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  color: #000000;
  text-decoration: none;
}

.button {
  display: inline-block;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756257;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-blue {
  background-color: #81b3d3;
}

.button-transparent {
  background-color: transparent;
}



.navigation {
  position: relative;

  display: grid;
  align-items: center;
  width: 100%;

  gap: 30px;
  grid-template-columns: auto auto auto 160px;
}


.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 470px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-logo {
  position: relative;

  display: block;
  width: 138px;
  height: 70px;

}

.navigation-logo img {
  display: block;
  width: 100%;
  height: 100%;
}



.navigation-item {
  margin: 0 10px;
  padding: 13px 0;
}

.navigation-link {
  display: inline-block;
  padding: 6px;

  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  vertical-align: middle;
}

.navigation-user-list {
  margin-left: auto;
  position: relative;
}


.navigation-user-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}



.navigation-user-link img {
  display: block;
  width: 20px;
  height: 20px;
}

.navigation-button {
  width: 160px;
}


.greeting-img {
  padding-top: 51px;
  padding-bottom: 82px;

  background-color: #004c7f;
  background-image: url("../images/mount-sedona.jpg");
  background-size: cover;
}

.greeting-img img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.greeting-descript {
  padding-top: 44px;
  padding-bottom: 68px;

  text-align: center;
}

.greeting-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.greeting-text {
  font-size: 22px;
  line-height: 26px;
}

/* advantages */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item-full {
  width: 100%;
}

.advantages-item-container {
  display: flex;
}

.advantages-content {
  width: 400px;
  min-height: 384px;
  padding: 103px 85px 30px;
}

.advantages-content-blue {
  background-color: #81b3d3;
}

.advantages-title {
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.advantages-item-full:last-child .advantages-content {
  order: 2;
}

/* search */

.search {
  padding-top: 71px;
  padding-bottom: 96px;

  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-button {
  width: 375px;

  font-size: 20px;
  line-height: 36px;
}

/* subscribe */
.subscribe {
  padding-top: 68px;
  padding-bottom: 104px;

  text-align: center;
}

.subscribe-home {
  background-color: #81b3d3;
  background-image: url("../images/subscribe-image.jpg");
  background-size: cover;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe-home .subscribe-text {
  color: #ffffff;
}

/* breadcrumbs */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 40px;
}

/* filter */
.filter {
  padding-top: 44px;
  padding-bottom: 70px;

  color: #ffffff;

  background-color: #81b3d3;
  background-image: url("../images/filter-background.png");
  background-size: cover;
}

.filter-top {
  margin: 0 0 10px;

  font-size: 60px;
  line-height: 78px;
}

.filter-form {
  display: grid;
  align-items: start;

  gap: 20px 66px;
  grid-template-columns: repeat(4, auto);
}

.filter-group {
  align-items: stretch;
}

.filter-list {
  display: grid;

  gap: 17px 16px;
  grid-template-columns: 20px auto;
}


.sorting {
  padding-top: 32px;
  padding-bottom: 20px;
}

.sorting-container {
  display: grid;
  align-items: center;

  gap: 20px 68px;
  grid-template-columns: 1fr auto auto;
}

.sorting-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.sorting-item {
  display: block;
  width: 48px;
  height: 48px;

  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.sorting-view {
  display: flex;
}


.hotels-list {
  display: grid;
  padding-bottom: 40px;

  border-bottom: 1px solid #e6e6e6;

  gap: 19px 18px;
  grid-template-columns: repeat(3, 1fr);
}

.hotels-item {
  padding: 20px;

  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotels-descript {
  display: grid;
  padding-top: 17px;

  gap: 15px 20px;
  grid-template-columns: repeat(2, 1fr);
}

.hotels-title {
  font-size: 24px;
  line-height: 28px;

  grid-column: 1/-1;
}

.hotels-type,
.hotels-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotels-rating-text {
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotels-favorites-active {
  background-color: #7db54f;
}


.pagination {
  display: flex;
  flex-direction: row;
  padding: 0 730px 0 70px;

}

.pagination-item {
  list-style-type: none;
  margin-right: 8px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000;
  background-color: #f2f2f2;
  border-color: transparent;
}

.pagination-link-more {
  color: #000;
  background-color: transparent;
  border-color: transparent;
}


/*
.pagination {
  display: flex;
  padding: 39px 0 36px;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;

  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000000;

  background-color: #f2f2f2;
  border-color: transparent;
}

.pagination-link-more {
  color: #000000;

  background-color: transparent;
  border-color: transparent;
}
*/

.footer {
  display: flex;
  flex-direction: row;
  padding: 5px 5px 5px 5px;
  align-items: stretch;
  margin: 40px 70px 30px 70px;
 }

.footer-social {
  display: flex;
  flex-wrap: wrap;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 40px;

  color: #83b3d3;
}

.footer-phone {
  display: inline-block;
  margin: 0 auto;

  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.footer-logo {
  display: block;
  width: 115px;
  height: 33px;

  color: #000000;
}
