@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 16px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}


.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}



.link {
  text-decoration: none;
  color: #000000;
}


.button {
  display: inline-block;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756257;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-blue {
  background-color: #81B3D3;
}

.button-transparent {
  background-color: transparent;

}

.navigation {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navigation-logo {
  display: block;
  width: 140px;
  height: 70px;
}

.navigation-logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.navigation-list {
  flex-wrap: wrap;
  display: flex;
  max-width: 507px;
}

.navigation-link {
  display: block;
  padding: 24px 19px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}



.navigation-user-link {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.navigation-user-list {
  margin-left: auto;
}

.navigation-button {
  width: 160px;

}

.breadcrumbs {
  display: flex;
  align-items: baseline;
  margin-bottom: 40px;
}

.greeting {
  height: 767px;
  border-radius: 0px;
}

.greeting-img {
  text-align: center;
  background-image: url("../images/mount-sedona.jpg");
  background-size: cover;
  margin-bottom: 57px;
  padding-left: 290px;
  padding-right: 290px;
}

.greeting-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;

}

.greeting-text{
  font-size: 22px;
  line-height: 26px;
  text-align: center;

}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

}


.advantages-item-full {
  width: 100%;
}

.advantages-item-container {
  display: flex;
}

.advantages-content {
  width: 400px;
  min-height: 384px;
}

.advantages-content-blue {
  background-color: #81B3D3;
}

.advantages-title {
  color:#000000;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-image img {
  height: 100%;
  width: 100%;
  display: block;
}

.advantages-item-full:last-child .advantages-content {order: 2;}

.search {
  padding: 96px 304px 96px 304px;
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  width: 375px;
 }

.subscribe {
  text-align: center;
  padding: 0 258px 0 258px;
}

.subscribe-home {
  background-color: #81b3d3;
  background-image: url("../images/subscribe-image.jpg");
  background-size: cover;
}


.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe-home .subscribe-text {
  color: #ffffff;
}

.filter {
  background-color: #81b3d3;
  background-image: url("../images/filter-background.png");
  background-size: cover;

}


.filter-top {
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.filter-form { /*сделать на гридах */
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.filter-group {
  align-items: stretch;
}

.filter-list {  /*сделать на гридах */
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sorting { /*сделать на гридах */
  display: flex;
  padding: 70px 0;
}

.container { /*сделать на гридах */
  display: flex;
  padding: 0 70px;
}

.sorting-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;

}

.sorting-item {
  display: block;
  height: 49px;
  width: 522px;
  left: 538px;
  top: 0px;
  border-radius: 0px;
}

.sorting-view {
  display: flex;
  color: #000000;
}



.hotels-list { /*сделать на гридах */
  display: flex;
  flex-wrap: wrap;
}

.hotels-item {
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.hotels-title {
  font-size: 24px;
  line-height: 28px;
}

.hotels-type,
.hotels-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}


.hotels-rating-text {
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotels-favorites-active {
  background-color: #7db54f;
}

.pagination {
  display: flex;
  flex-direction: row;
  padding: 0 730px 0 70px;

}

.pagination-item {
  list-style-type: none;
  margin-right: 8px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background-color: #82b3d3;
  border: 1px solid #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  color: #000;
  background-color: #f2f2f2;
  border-color: transparent;
}

.pagination-link-more {
  color: #000;
  background-color: transparent;
  border-color: transparent;
}


.footer {
 padding: 45px 70px 35px;
 align-items: center;
 display: flex;
}

.footer-social {
 display: flex;
 flex-wrap: wrap;
}

 .footer-phone {
 display: block;
 margin: 0 auto;
 font-size: 40px;
 line-height: 40px;
 text-align: center;
 color: #000000;
 text-decoration: none;
}

.footer-logo {
 display: block;
 width: 115px;
 height: 33px;
 color: #000000;
}
