@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}


@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

body {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 16px;
  line-height: 24px;
  font-family: "PT Sans", sans-serif;
  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}



.page-container {
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
  padding-top: 64px;
  padding-bottom: 60px;
}

img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}


.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}



.link {
  text-decoration: none;
  color: #000000;
}


.button {
  display: inline-block;
  padding: 8px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: "PT Sans", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #756257;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-blue {
  background-color: #81B3D3;
}

.button-transparent {
  background-color: transparent;

}

.navigation {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.navigation-list {
  flex-wrap: wrap;
  display: flex;
  max-width: 507px;
  margin-left: auto;

}

.navigation-link {
  display: block;
  padding: 24px 19px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.navigation-user-item {
  max-width: 250px;
  margin: 10px;
}

.navigation-user-link {
  min-width: 16px;
  min-height: 22px;
}

.navigation-button {
  align-items:center;
  width: 160px;
  margin: 10px;
}

.breadcrumbs .list-reset {
  display: flex;
  margin: 0;
  padding: 0;
  color: #242424;
  list-style-type: none;
}

.greeting {
  height: 767px;
  width: 1200px;
  left: 0px;
  border-radius: 0px;
  top: 485px;

}

.greeting-img {
  text-align: center;
  background-image: url("../images/mount-sedona.jpg");
  background-size: cover;
  margin-bottom: 57px;
}

.greeting-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 69px;

}

.greeting-text{
  font-size: 22px;
  line-height: 26px;
  text-align: center;

}

.advantages-list {
  display: flex;
  flex-wrap: wrap;

}


.advantages-item-full {
  width: 100%;
}

.advantages-item-container {
  display: flex;
}

.advantages-content {
  width: 400px;
  min-height: 384px;
}

.advantages-content-blue {
  background-color: #81B3D3;
}

.advantages-title {
  color:#000000;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.advantages-image img {
  height: 100%;
  display: block;
}

.advantages-item-full:last-child .advantages-content {order: 2;}

.search {
  text-align: center;
  margin-bottom: 58px;
  height: 406px;
  width: 1200px;
  left: 0px;
  top: 2361px;
  border-radius: 0px;
  padding: 96px 304px 96px 304px;

}

.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  width: 375px;
 }

.subscribe {
  text-align: center;
  height: 414.8px;
width: 1200px;
left: 0px;
top: 1711px;
border-radius: 0px;
padding: 96px 258px 104px 258px;

}

.subscribe-home {
  background-color: #81b3d3;
  background-image: url("../images/subscribe-image.jpg");
  background-size: cover;
}


.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-home .subscribe-title {
  color: #ffffff;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.subscribe-home .subscribe-text {
  color: #ffffff;
}

.filter {
  background-color: #81b3d3;
  background-image: url("../images/filter-background.png");
  background-size: cover;

}


.filter-top {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.filter-group {
  display: flex;
  align-items: stretch;
}

.filter-form {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.filter-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sorting-container {
  display: flex;
}

.sorting-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: 201px;
}

.sorting-view {
  display: flex;
  color: #000000;
  background-color: #ffffff;
  margin-top: 50px;
}

.sorting-view .button {
  width: 56px;
  height: 44px;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
}

.hotels-item {
 padding: 20px;
 border: 1px solid #e6e6e6;
 border-radius: 4px;
 margin: 20px;
 height: 438px;
 width: 340px;
 left: 0px;
 top: 0px;
}

.hotels-title {
  font-size: 24px;
  line-height: 28px;
}

.hotels-type,
.hotels-price {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}


.hotels-rating-text {
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.hotels-favorites-active {
  background-color: #7db54f;
}

.pagination-item {
  font-family: PT Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;


  padding: 16px;
  margin-right: 8px;
  background-color: #81B3D3;
  border-radius: 2px;
}

.pagination-link-more {
  padding: 16px;
  margin: 8px;
  background-color: transparent;
}

.pagination-list-reset {
  display: flex;
  margin: 60px;
  padding: 0;
  list-style-type: none;
}

.footer {
 margin-top: 0;
 margin-bottom: 30px;
 padding: 5px 5px 5px 5px;
 align-items: stretch;
 display: flex;
 flex-direction: row;
}

.footer-social {
 display: flex;
 max-width: 142px;
 flex-wrap: nowrap;
 margin-right: 8px;
 margin-left: 70px;
}

 .footer-phone {
 display: block;
 margin: 0 auto;
 font-size: 40px;
 line-height: 40px;
 text-align: center;
 color: #000000;
 text-decoration: none;
}

.footer-logo {
 display: block;
 width: 115px;
 height: 33px;
 color: #000000;
 margin-right: 70px;
}
